header {
  width: 100%;
  height: 100px;
  // position: relative;
  // z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 30px;

  @media (max-width: 767px) {
    padding: 0;
  }

  @media (min-width: 48em) and (max-width: 79em) {
    padding: 0;
  }

  .nav-container {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 767px) {
      display: none;
    }

    @media (min-width: 48em) and (max-width: 79em) {
      display: none;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 713px;

      .search-container {
        width: 400px;
        height: 40px;
        display: flex;

        input {
          width: 344px;
          height: 100%;
          border-radius: 8px 0 0 8px;
          border: 1px solid #213f7d;
          background: #ffffff;
          opacity: 0.2;
          padding: 12px 20px;

          &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #545f7d;
            opacity: 0.7;
          }

          &:active {
            border: none;
          }
        }

        .searchIcon {
          width: 56px;
          height: 40px;
          background: #39cdcc;
          border-radius: 0 8px 8px 0;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      img {
        height: 30px;
        width: 144.803955078125px;
        cursor: pointer;
      }
    }

    .right {
      width: 300px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #213f7d;
      }

      .userInfo {
        width: 186px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          height: 26px;
          width: 26px;
        }

        .box {
          width: 140px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            height: 48px;
            width: 48px;
            border-radius: 50%;
          }

          .name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 82px;

            p {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #213f7d;
            }

            img {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }

    .navbar__sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 93%;
      max-width: 400px;
      background: white;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      z-index: 1;
      overflow: auto;

      &--open {
        transform: translateX(0);
      }

      .header {
        display: flex;
        align-items: center;
        padding-left: 50px;
        cursor: pointer;
        width: 283px;
        height: 40px;
        gap: 10px;

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #213f7d;
        }
      }

      ul {
        p {
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: #545f7d;
          margin-left: 50px;
          margin-top: 41px;
        }

        li {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding-left: 50px;
          margin-top: 10px;
          // border: 1px solid;
          width: 100%;
          height: 40px;
          gap: 10px;

          img {
            width: 19px;
            height: 13px;
          }

          &:hover {
            background: rgba(57, 205, 204, 0.06);
            border-left: 3px solid #39cdcc;
            color: #213f7d;
            height: 40px;
          }

          span {
            font-size: 16px;
            font-weight: 400;
            color: #213f7d;
          }
        }
      }

      hr {
        width: 283px;
        height: 0px;
        opacity: 0.1;
        border: 1px solid #213f7d;
        margin-top: 51px;
      }

      .log-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 50px;
        margin-top: 10px;
        // border: 1px solid;
        width: 283px;
        height: 40px;
        gap: 10px;

        img {
          width: 19px;
          height: 13px;
        }

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #213f7d;
        }
      }

      .vtn {
        padding-left: 50px;
        margin-top: 30px;
        width: 283px;
        height: 40px;

        span {
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #213f7d;
        }
      }

      .dashboard {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        margin-top: 10px;
        padding-left: 50px;
        width: 283px;
        height: 40px;
        gap: 10px;

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #213f7d;
        }
      }

      .navbar__sidebar-header {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;

        .navbar__sidebar-close {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 2.5rem;
          width: 2.5rem;
          margin: 0;
          padding: 0;
          background: transparent;
          border: none;

          .navbar__sidebar-close-line {
            height: 2.5rem;
            width: 2.5rem;
            color: #213f7d;
          }
        }
      }

      .navbar__sidebar-list {
        list-style: none;
        margin: 0;
        padding: 0;

        .navbar__sidebar-item {
          margin: 1rem 0;

          .navbar__sidebar-link {
            display: block;
            padding: 0.5rem 1rem;
            color: black;
            text-decoration: none;
            font-size: 1rem;
          }
        }
      }

  }

  .mob-nav {
    display: none;

    @media (min-width: 48em) and (max-width: 79em) {
      display: flex;
      width: 100%;
      height: 40px;
      justify-content: space-between;
      position: relative;

      .logo {
        height: 10px;
        width: 50.803955078125px;
      }

      .humbuger {
        width: 30px;
        height: 100%;
        color: #213f7d;
        cursor: pointer;
      }
    }

    @media (max-width: 767px) {
      display: flex;
      width: 100%;
      height: 40px;
      justify-content: space-between;
      position: relative;

      .logo {
        height: 10px;
        width: 50.803955078125px;
      }

      .humbuger {
        width: 30px;
        height: 100%;
        color: #213f7d;
        cursor: pointer;
      }
    }
  }
}
