@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;700&display=swap');

:root {
  --color-primary: #747474;
  --color-secondary: #082543;
  --color-tertiary: #38C2D6;
  --color-light-blue: #6B9FC7;
  --color-white: #ffffff;
  --color-black: #000000;
} 

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // border: solid 2px blue;
}

::-moz-selection {
  background: var(--color-tertiary);
  color: var(--color-white);
}

::selection {
  background: var(--color-tertiary);
  color: var(--color-white);
}

// /* width */
::-webkit-scrollbar {
  width: 0px;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
