nav {
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  display: flex;

  .navbar__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    max-width: 400px;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    overflow: auto;

    &--open {
      transform: translateX(0);
    }

    .header {
      display: flex;
      align-items: center;
      padding-left: 50px;
      cursor: pointer;
      width: 283px;
      height: 40px;
      gap: 10px;

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #213f7d;
      }
    }

    ul {
      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #545f7d;
        margin-left: 50px;
        margin-top: 41px;
      }

      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 50px;
        margin-top: 10px;
        // border: 1px solid;
        width: 283px;
        height: 40px;
        gap: 10px;

        img {
          width: 19px;
          height: 13px;
        }

        &:hover {
          background: rgba(57, 205, 204, 0.06);
          border-left: 3px solid #39cdcc;
          color: #213f7d;
          height: 40px;
        }

        span {
          font-size: 16px;
          font-weight: 400;
          color: #213f7d;
        }
      }
    }

    hr {
      width: 283px;
      height: 0px;
      opacity: 0.1;
      border: 1px solid #213f7d;
      margin-top: 51px;
    }

    .log-container {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-left: 50px;
      margin-top: 10px;
      // border: 1px solid;
      width: 283px;
      height: 40px;
      gap: 10px;

      img {
        width: 19px;
        height: 13px;
      }

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #213f7d;
      }
    }

    .vtn {
      padding-left: 50px;
      margin-top: 30px;
      width: 283px;
      height: 40px;

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #213f7d;
      }
    }

    .dashboard {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      margin-top: 10px;
      padding-left: 50px;
      width: 283px;
      height: 40px;
      gap: 10px;

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #213f7d;
      }
    }

    .navbar__sidebar-header {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;

      .navbar__sidebar-close {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 2.5rem;
        width: 2.5rem;
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
      
        .navbar__sidebar-close-line {
          height: 2.5rem;
          width: 2.5rem;
          color: #213f7d;
        }
      }
    }

    .navbar__sidebar-list {
      list-style: none;
      margin: 0;
      padding: 0;
    
      .navbar__sidebar-item {
        margin: 1rem 0;
    
        .navbar__sidebar-link {
          display: block;
          padding: 0.5rem 1rem;
          color: black;
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
  }

  .mob-nav {
    display: none;
    @media only screen and (max-width: 767px) {
      display: flex;
      width: 360px;
      height: 40px;
      margin: auto;
      flex-direction: row !important;
      justify-content: space-between;
      position: relative;

      .logo {
        height: 10px;
        width: 100.803955078125px;
      }

      .humbuger{
        width: 30px;
        height: 100%;
        color: #213f7d;
        cursor: pointer;
      }


  
    }
  

  }

  .nav-container {
    width: 1343.66px;
    height: 40px;
    // margin: auto 43.67px auto 30px;
    margin: auto;
    position: relative;
    display: flex;

    @media only screen and (max-width: 767px) {
      display: none;
    }

    .logo {
      height: 30px;
      width: 144.803955078125px;
      // margin-left: 30px;
    }

    .search-container {
      width: 400px;
      height: 40px;
      margin-left: 168px;
      display: flex;
      //   background: #ffffff;
      //   opacity: 0.2;

      input {
        width: 344px;
        height: 100%;
        border-radius: 8px 0 0 8px;
        border: 1px solid #213f7d;
        background: #ffffff;
        opacity: 0.2;
        padding: 12px 20px;

        &::placeholder {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #545f7d;
          opacity: 0.7;
        }

        &:active {
          border: none;
        }
      }

      .searchIcon {
        width: 56px;
        height: 40px;
        background: #39cdcc;
        border-radius: 0 8px 8px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .nav-left {
      width: 273.66px;
      height: 40px;
      margin-left: 357px;
      display: flex;
      align-items: center;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #213f7d;
        cursor: pointer;
      }

      .notify {
        height: 22.736698150634766px;
        width: 19.674962997436523px;
        margin-left: 20.16px;
      }

      .dropdown {
        height: 22.736698150634766px;
        width: 19.674962997436523px;
        margin-left: 10.33px;
      }

      h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #213f7d;
        margin-left: 10px;
      }

      .profile-img {
        height: 48px;
        width: 48px;
        margin-left: 43.16px;

        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}
